<html>
<head>
	<title>Nice!</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body style = "background-image: url(http://www.123inspiration.com/wp-content/uploads/2013/03/batman-thumb.jpeg)";>
	<div class = "confirm">
		<h1><span>Batman approves your taste in beer.</span></h1>
		<div id = "confirm-bar">
		</div>
	</div>
	<div class = "back">
		<h2><a href="http://localhost:9393/favorites" title="Back"><</a> 
	</div>
</body>
</html>