<html>
<head>
	<title>Dude. No.</title>
	<link rel="stylesheet" type="text/css" href="application.css">
</head>

<body style = "background-image: url(http://3.bp.blogspot.com/-1uHz3TmOcxU/UQNQ69_CehI/AAAAAAAAKgA/6Bfw26MdYzg/s1600/Gran+Torino+Clint+Eastwood.jpg);">
	<div class = "confirm">
		<h1><span>Clint Eastwood does not approve of your selection.</span></h1>
		<div id = "confirm-bar-two">
		</div>
	</div>
	<div class = "back">
		<h2><a href="http://localhost:9393/favorites" title="Back"><</a> 
	</div>
</body>
</html>